@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVCDemo.Model.DepartmentModel
@{
    ViewData["Title"] = "Add Department";
    ViewData["Main-Header"] = "Naw Department";
    ViewData["Header-details"] = "record win bbe added to the list of company departments";

}
<body>
    <center>
        <h3>please, fill the form bellow</h3>
        <form action="/Department/Create" method="post">

            <Table class="table-hover">

                <tr>
                    <td>
                        @Html.LabelFor(model => model.department.Name, "Department Name")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.department.Name)
                        @Html.ValidationMessageFor(model => model.department.Name)
                    </td>
                </tr>

                <tr class="editor-label">
                    <td>
                        @Html.LabelFor(model => model.department.Description, "Department details")
                    </td>
                    <td>
                        @Html.EditorFor(model => model.department.Description)
                        @Html.ValidationMessageFor(model => model.department.Description)
                    </td>
                </tr>

            </Table>
            <div style="height:30Px;">
                <input id="Submit" type="submit" value="submit" />
            </div>

        </form>
    </center>
</body>